<a href="https://colab.research.google.com/github/jrami12/codepath-prework/blob/main/Lab3_JanetR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab3_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [ ]:
import pandas as pd

import matplotlib.pyplot as plt

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

df = pd.read_csv (




'/content/drive/MyDrive/Colab Notebooks/superstore_retail_orders.csv')

print (df)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv ('/content/drive/MyDrive/Colab Notebooks/superstore_retail_orders.csv')

print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
      customer_id      customer_name          address_line_1          city  \
0              67      Gordy Matteau     59 Northland Circle    Wilmington
1             201     Cort Paskerful         769 Buell Drive    Huntsville
2              45    Willetta Lumley       41 Ridgeway Alley        Irvine
3             106   Alison Batterton           489 Erie Hill      Richmond
4             357  Martelle Paxeford    451 Manitowish Place      Richmond
...           ...                ...                     ...           ...
9564          637  Jayson Andriessen  0819 Crownhardt Circle     Allentown
9565          370    Darby Tesseyman     7468 Jackson Circle        Albany
9566          598   Henka De Ferrari      89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne    9630 Washington Hill     Watertown
9568          482       Matelda Bull      6406 Bultman Alley  Gaithersburg

      state_province  postal_code  order_id  order_date  customer_id.1  \
0                DE       19805.0      1001  2020-01-11             67
1                AL       35810.0      1002  2019-11-22            201
2                CA       92612.0      1003  2019-09-17             45
3                VA       23293.0      1004  2019-12-09            106
4                VA       23293.0      1005  2019-06-08            357
...              ...          ...       ...         ...            ...
9564  Pennsylvania            NaN      8143  2021-06-13            637
9565             NY       12210.0      8144  2021-06-16            370
9566     California       94064.0      8145  2021-05-09            598
9567  Massachusetts        2472.0      8146  2021-04-13            737
9568       Maryland       20883.0      8147  2021-03-21            482

      order_id.1  product_id  quantity  product_id.1            product_name  \
0           1001         106       3.0           106       Great value Juice
1           1002         104       2.0           104                    Desk
2           1003         107       5.0           107          Dove deodorant
3           1004         106       8.0           106       Great value Juice
4           1005         107       7.0           107          Dove deodorant
...          ...         ...       ...           ...                     ...
9564        8143         113      16.0           113          Extension cord
9565        8144         109       1.0           109  Samsung Galaxy Note 10
9566        8145         110       1.0           110         Apple iPad Mini
9567        8146         113       2.0           113          Extension cord
9568        8147         113       5.0           113          Extension cord

     product_price total_amount order_year_month order_month
0            $1.99        $5.97          2020-01    January
1           $85.98      $171.96          2019-11   November
2            $3.99       $19.95          2019-09   September
3            $1.99       $15.92          2019-12   December
4            $3.99       $27.93          2019-06       June
...            ...          ...              ...         ...
9564        $15.59      $249.44          2021-06       June
9565       $749.99      $749.99          2021-06       June
9566       $329.99      $329.99          2021-05        May
9567        $15.59       $31.18          2021-04      April
9568        $15.59       $77.95          2021-03      March

[9569 rows x 18 columns]

## Prepare Data

➡️ Assignment Tasks
- Convert the Total_Amount into a number (not a string)
- Remove rows with empty (NULL) values
- Optional: Locate outliers in any of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [ ]:
df['total_amount'] = pd.to_numeric(df['total_amount'].replace('[\$,]', '', regex=True), errors='coerce')
df['total_amount'] = df['total_amount'].astype(float)
df= df.dropna()
print (df)

      customer_id      customer_name        address_line_1          city  \
0              67      Gordy Matteau   59 Northland Circle    Wilmington
1             201     Cort Paskerful       769 Buell Drive    Huntsville
2              45    Willetta Lumley     41 Ridgeway Alley        Irvine
3             106   Alison Batterton         489 Erie Hill      Richmond
4             357  Martelle Paxeford  451 Manitowish Place      Richmond
...           ...                ...                   ...           ...
9561          240     Barnard Hatley        5541 Kim Alley        Duluth
9565          370    Darby Tesseyman   7468 Jackson Circle        Albany
9566          598   Henka De Ferrari    89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne  9630 Washington Hill     Watertown
9568          482       Matelda Bull    6406 Bultman Alley  Gaithersburg

      state_province  postal_code  order_id  order_date  customer_id.1  \
0                DE       19805.0      1001  2020-01-11             67
1                AL       35810.0      1002  2019-11-22            201
2                CA       92612.0      1003  2019-09-17             45
3                VA       23293.0      1004  2019-12-09            106
4                VA       23293.0      1005  2019-06-08            357
...              ...          ...       ...         ...            ...
9561             GA       30195.0      8140  2021-03-04            240
9565             NY       12210.0      8144  2021-06-16            370
9566     California       94064.0      8145  2021-05-09            598
9567  Massachusetts        2472.0      8146  2021-04-13            737
9568       Maryland       20883.0      8147  2021-03-21            482

      order_id.1  product_id  quantity  product_id.1            product_name  \
0           1001         106       3.0           106       Great value Juice
1           1002         104       2.0           104                    Desk
2           1003         107       5.0           107          Dove deodorant
3           1004         106       8.0           106       Great value Juice
4           1005         107       7.0           107          Dove deodorant
...          ...         ...       ...           ...                     ...
9561        8140         110       1.0           110         Apple iPad Mini
9565        8144         109       1.0           109  Samsung Galaxy Note 10
9566        8145         110       1.0           110         Apple iPad Mini
9567        8146         113       2.0           113          Extension cord
9568        8147         113       5.0           113          Extension cord

     product_price  total_amount order_year_month order_month
0            $1.99          5.97          2020-01    January
1           $85.98        171.96          2019-11   November
2            $3.99         19.95          2019-09   September
3            $1.99         15.92          2019-12   December
4            $3.99         27.93          2019-06       June
...            ...           ...              ...         ...
9561       $329.99        329.99          2021-03      March
9565       $749.99        749.99          2021-06       June
9566       $329.99        329.99          2021-05        May
9567        $15.59         31.18          2021-04      April
9568        $15.59         77.95          2021-03      March

[8981 rows x 18 columns]

## Summarize Data

➡️ Assignment Tasks
- Display the average price per month
- Display the total revenue for all months

In [ ]:
#average price
df['order_year_month'] = pd.to_datetime(df['order_year_month'])
avepricepermonth = df.groupby('order_year_month')['total_amount'].mean().round(2)
print(avepricepermonth)

order_year_month
2019-02-01    333.95
2019-03-01    352.79
2019-04-01    373.53
2019-05-01    355.37
2019-06-01    376.47
2019-07-01    322.06
2019-08-01    354.60
2019-09-01    351.97
2019-10-01    389.99
2019-11-01    327.68
2019-12-01    349.86
2020-01-01    318.57
2020-02-01    325.12
2020-03-01    275.39
2020-04-01    324.99
2020-05-01    317.19
2020-06-01    315.06
2020-07-01    324.18
2020-08-01    323.24
2020-09-01    345.14
2020-10-01    338.68
2020-11-01    346.38
2020-12-01    263.80
2021-01-01    293.92
2021-02-01    368.73
2021-03-01    279.36
2021-04-01    332.13
2021-05-01    226.77
2021-06-01    314.29
2021-07-01    197.84
2021-08-01    227.45
Name: total_amount, dtype: float64

In [ ]:
#total revenue

df['order_year_month'] = pd.to_datetime(df['order_year_month'])


avepricepermonth = df.groupby('order_year_month')['total_amount'].sum()
print(avepricepermonth)

order_year_month
2019-02-01     63785.07
2019-03-01    210261.46
2019-04-01    239062.11
2019-05-01    231703.01
2019-06-01    242822.69
2019-07-01    203543.83
2019-08-01    230135.80
2019-09-01    198513.63
2019-10-01    238674.58
2019-11-01    208079.16
2019-12-01    219359.45
2020-01-01    180312.31
2020-02-01    135898.78
2020-03-01     32771.50
2020-04-01     52323.70
2020-05-01     51701.74
2020-06-01     41903.60
2020-07-01     37281.10
2020-08-01     48808.88
2020-09-01     45558.78
2020-10-01     39963.98
2020-11-01     43643.86
2020-12-01     32974.41
2021-01-01     41149.47
2021-02-01      1106.19
2021-03-01      3352.33
2021-04-01      4649.84
2021-05-01      2948.02
2021-06-01      3457.14
2021-07-01      2374.08
2021-08-01      1364.69
Name: total_amount, dtype: float64